appnope==0.1.0
asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.6.1
Automat==0.7.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
constantly==15.1.0
cryptography==2.2.2
decorator==4.3.0
Django==1.11.14
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
imageio==2.3.0
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
MarkupSafe==1.0
mistune==0.8.3
moviepy==0.2.3.5
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.5.0
numpy==1.14.5
pandocfilters==1.4.2
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.19.1
scandir==1.7
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
tqdm==4.23.4
traitlets==4.3.2
Twisted==18.4.0
txaio==2.10.0
urllib3==1.23
watson-developer-cloud==1.4.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.2.1
zope.interface==4.5.0
